@model ConsoleAppProject.App03.StudentGrades
@{
    ViewData["Title"] = "Analyse";
}

<header class="text-center jumbotron justify-content-center">
    <h1> Analyse Grades</h1>
    <h2> By Vincent Assolutissimamente</h2>
    <p>
        Displayes simple statistics based on the marks and
        displayes the percentage of students achieving each grade
    </p>
</header>
<section>
    <h2>Statistics</h2>
    <table class="table table-bordered table-hover">
        <thead>
            <tr class=" text-center table-success">
                <th>No Student</th>
                <th>Min Mark</th>  
                <th>Max Mark</th>
                <th>Mean Mark</th>
            </tr>
        </thead>
        <tbody>
            <tr class=" text-center">
                <td>@Model.Students.Length</td>
                <td>@Model.Minimum</td>
                <td>@Model.Maximum</td>
                <td>@Model.Mean.ToString("0.0%")</td>
            </tr>
        </tbody>
    </table>
</section>
<section>
    <h2>Grade Profile</h2>
    <table class="table table-bordered table-hover">
        <thead>
            <tr class="text-center table-info">
                <th>Fail</th>
                <td>Grade D</td>
                <td>Grade C</td>
                <td>Grade B</td>
                <td>Grade A</td>
            </tr>
        </thead>
        <tbody>
            <tr class=" text-center">
                @foreach (int count in Model.GradeProfile)
                {
                    double percent = (double)count / Model.Marks.Length;
                    <td>@percent.ToString("0.0%")</td>
                }

            </tr>

        </tbody>
    </table>
</section>

